@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.iso-roble {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-decoration: none;
    /* top: 35%;
    position: absolute; */
}

.iso-lab {
    color: #00ccae;
}

.vl {
    margin-left: 5px;
    border-left: 2px solid rgb(216, 209, 209);   
  }

.logo-tree {
    width: "3px";
    height: "3px";
    text-align: justify;
    vertical-align: text-bottom;
}
  
  